<div class="hero-unit">
    <h1>Journal Graph</h1>
</div>

<div id="searchbox">
    <div class="span2">
        <input id="query" type="text" name="query" placeholder="Entry your request here...">
    </div>
    <div class="span2">
        <button class="btn magic"> Magic </button>
    </div>

    <div class="span2">
    	<a href="#" id="showall"> Show All </a>
    </div>
</div>

<br><br><br>

<div class="results">

</div>
